* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333e5a;
  min-height: 100%;
}

header {
  background: #f0293e;
  color: #fff;
  text-align: center;
  flex-grow: 0;
  margin-bottom: 2em;
}

#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background: #ffffff;
  flex-grow: 1;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}

form > div {
  width: 100%;
  margin-bottom: 1em;
}
form > div > label {
  display: block;
  margin-bottom: 0.3em;
}
form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}

button {
  background: #333e5a;
  color: #fff;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid transparent;
}
button:hover {
  filter: brightness(150%);
}

.room {
  position: relative;
}
.room > h3 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1em;
}

.muteButton {
  background: rgba(0, 0, 0, 0);
  margin: 0.5em;
  -webkit-margin-collapse: collapse;
}

.muteButton:hover {
  box-shadow: 2px 2px 4px #0000009e;
}

.local-participant {
  text-align: center;
  margin-bottom: 2em;
}
.remoteParticipants {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 2em 2em;
  text-align: center;
  position: relative;
}
.participant {
  background: #5bc0de;
  padding: 10px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 10px;
}
.participant:last-child {
  margin-right: 0;
}
.participant h3 {
  text-align: center;
  padding-bottom: 0.5em;
  color: #fff;
}

video {
  width: 100%;
  display: block;
  min-width: 270px;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 6px;
  border: solid 3px black;
}

footer {
  background: #f7f7f7;
  color: #292b2c;
  text-align: center;
  flex-grow: 0;
  padding: 0.5em;
}

footer a {
  color: #fff;
}

.gooseIcon {
  width: 20px;
  height: auto;
}

.personalStatus {
  position: absolute;
  top: 0;
  max-width: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 50px 20px 20px 20px;
  padding: 0.5em;
}

.statusForm {
  text-align: left;
  min-width: 70%;
  margin: 1em;
}

.flockModalBody {
  margin: 1em;
}

.flockPic {
  width: 4em;
}

.emotePanel {
  position: fixed;
  right: 0;
  margin-right: 1em;
}

.emote {
  width: 20px;
  margin-right: 0.5em;
}

.remoteTitle {
  text-align: center;
  margin-bottom: 1em;
}
